@page
@model LoginModel

@{
    ViewBag.Title = "Sign In";
    Layout = null;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="ladylip" data-sidebar-size="lg">

<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>

<body>
    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-overlay"></div>
        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden pt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card overflow-hidden">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4 auth-one-bg h-100">
                                        <div class="bg-overlay"></div>
                                        <div class="position-relative h-100 d-flex flex-column">
                                            <div class="mb-4">
                                                <a href="@Url.Action("Index", "Dashboard")" class="d-block">
                                                    <img src="~/assets/images/logo-light.png" alt="" height="18">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6">
                                    <div class="px-lg-5 px-4 py-5">
                                        <div>
                                            <h5 class="text-primary">Welcome Back !</h5>
                                            <p class="text-muted">Sign in to continue to ResearchApps.</p>
                                        </div>
                                        <div class="mt-4">
                                            <form id="account" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                <div class="mb-3">
                                                    <label asp-for="Input.UserName" class="form-label">Username</label>
                                                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="float-end">
                                                        <a id="forgot-password" asp-page="./ForgotPassword" class="text-muted">Forgot your password?</a>
                                                    </div>
                                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input asp-for="Input.Password" class="form-control pe-5 password-input" autocomplete="current-password" aria-required="true" placeholder="password" id="password-input" />
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                    </div>
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-check mb-12">
                                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                                    <label asp-for="Input.RememberMe" class="form-check-label">
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                                <div>
                                                    <button id="login-submit" type="submit" class="btn btn-success w-100">Sign In</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">&copy;
                            <script>document.write(new Date().getFullYear())</script> ResearchApps. Crafted with <i class="mdi mdi-heart text-danger"></i> by BizTech</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    <script src="~/assets/js/pages/password-addon.init.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>

</html>
