@model ResearchApps.Service.Vm.ItemDeptVm

@{
    ViewBag.Title = "Item Departments";
    ViewBag.ptitle = "Item Departments";
    Layout = "_Layout";
}

@section styles {
    <link href="/assets/css/datatables.min.css" rel="stylesheet" type="text/css" />
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-12">
        <table id="itemdept-table" class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" style="width: 100%;">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ItemDeptId)</th>
                <th>@Html.DisplayNameFor(m => m.ItemDeptName)</th>
                <th>@Html.DisplayNameFor(m => m.StatusName)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ItemDeptId)</th>
                <th>@Html.DisplayNameFor(m => m.ItemDeptName)</th>
                <th>@Html.DisplayNameFor(m => m.StatusName)</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts {
    <script src="/assets/js/datatables.min.js"></script>
    <script type="module">
        import { DataTableHelper } from '/assets/js/views/view-helpers.js';
        $(function() {
            DataTableHelper.init('#itemdept-table', {
                apiUrl: '/api/ItemDepts/',
                tableOptions: {
                    layout: {
                        topEnd: {
                            buttons: [
                                {
                                    text: '<i class="ri-add-line align-bottom me-1"></i> Add Item Department',
                                    className: 'btn btn-primary btn-sm',
                                    action: function() {
                                        window.location.href = '/ItemDepts/Create';
                                    }
                                }
                            ]
                        }
                    },
                    columns: [
                        { data: 'itemDeptId', width: '50px' },
                        { data: 'itemDeptName' },
                        { data: 'statusName', width: '50px' },
                        {
                            data: null,
                            width: '50px',
                            defaultContent: '',
                            orderable: false,
                            render: function(data, type, row) {
                                return `
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill align-middle"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a href="/ItemDepts/Details/${row.itemDeptId}" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                            <li><a href="/ItemDepts/Edit/${row.itemDeptId}" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>
                                            <li><a href="/ItemDepts/Delete/${row.itemDeptId}" class="dropdown-item remove-item-btn"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a></li>
                                        </ul>
                                    </div>`;
                            }
                        },
                    ],
                    columnDefs: [
                        {
                            targets: [0, 2, 3],
                            className: 'text-center'
                        }
                    ]
                }
            });
        });
    </script>
}

