@model ResearchApps.Service.Vm.ItemVm

@{
    ViewBag.Title = "Delete Item";
    Layout = "_Layout";
}

<div class="card mt-3">
    <div class="card-header">
        <div class="row align-items-center mb-4">
            <div class="col">
                <h4 class="card-title mb-0">Delete Item</h4>
            </div>
            <div class="col-auto">
                <form asp-action="Delete" method="post" class="d-inline">
                    <input type="hidden" asp-for="ItemId" />
                    <a asp-action="Index" class="btn btn-sm btn-secondary me-2">Cancel</a>
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#overview">Overview</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#log">Log</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="overview" role="tabpanel">
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.ItemId)</strong></div>
                    <div class="col-9">@Model.ItemId</div>
                </div>
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.ItemName)</strong></div>
                    <div class="col-9">@Model.ItemName</div>
                </div>
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.StatusId)</strong></div>
                    <div class="col-9">@Model.StatusId</div>
                </div>
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.StatusName)</strong></div>
                    <div class="col-9">@Model.StatusName</div>
                </div>
            </div>
            <div class="tab-pane" id="log" role="tabpanel">
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.CreatedDate)</strong></div>
                    <div class="col-9">@Model.CreatedDate</div>
                </div>
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.CreatedBy)</strong></div>
                    <div class="col-9">@Model.CreatedBy</div>
                </div>
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.ModifiedDate)</strong></div>
                    <div class="col-9">@Model.ModifiedDate</div>
                </div>
                <div class="row mb-4">
                    <div class="col-3"><strong>@Html.DisplayNameFor(m => m.ModifiedBy)</strong></div>
                    <div class="col-9">@Model.ModifiedBy</div>
                </div>
            </div>
        </div>
    </div>
</div>
