@model ResearchApps.Service.Vm.ItemVm

@{
    ViewBag.Title = "Items";
    ViewBag.pTitle = "Items";
    Layout = "_Layout";
}

@section styles {
    <link href="/assets/css/datatables.min.css" rel="stylesheet" type="text/css" />
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-12">
        <table id="item-table" 
               class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline" 
               style="width: 100%;"
               data-datatable
               data-api-url="/api/Items/"
               data-create-url="/Items/Create"
               data-create-text="Add Item">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ItemId)</th>
                <th>@Html.DisplayNameFor(m => m.ItemName)</th>
                <th>@Html.DisplayNameFor(m => m.ItemTypeName)</th>
                <th>@Html.DisplayNameFor(m => m.StatusName)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ItemId)</th>
                <th>@Html.DisplayNameFor(m => m.ItemName)</th>
                <th>@Html.DisplayNameFor(m => m.ItemTypeName)</th>
                <th>@Html.DisplayNameFor(m => m.StatusName)</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts {
    <script src="/assets/js/datatables.min.js"></script>
    <script type="module">
        import { DataTableComponent, ColumnRenderers } from '/assets/js/components/data-table.js';
        
        $(function() {
            DataTableComponent.init('#item-table', {
                columns: [
                    { data: 'itemId', width: '50px' },
                    { data: 'itemName' },
                    { data: 'itemTypeName' },
                    { data: 'statusName', width: '50px' },
                    {
                        data: null,
                        width: '50px',
                        defaultContent: '',
                        orderable: false,
                        render: ColumnRenderers.actions({
                            baseUrl: '/Items',
                            idField: 'itemId'
                        })
                    }
                ],
                columnDefs: [
                    { targets: [0, 3, 4], className: 'text-center' }
                ]
            });
        });
    </script>
}
